Description=Corda Node - Treasurer
Requires=network.target

[Service]
Type=simple
User=rodrigo
WorkingDirectory=/home/rodrigo/ShieldCorda/build/nodes/treasurer
ExecStart=/usr/bin/java -jar /home/rodrigo/ShieldCorda/build/nodes/treasurer/corda.jar
Restart=on-failure
Environment="CAPSULE_CACHE_DIR=./capsule"

[Install]
WantedBy=multi-user.target
